# 1. Escolhe a interface (seu ST-Link)
source [find interface/stlink.cfg]
transport select hla_swd
# 2. Escolhe o alvo (seu chip)
source [find target/stm32wbx.cfg]

# 3. Configura a linha de reset e conecta enquanto o chip está em reset
reset_config srst_only srst_nogate

# 4. Comandos para o OpenOCD: inicializa a conexão e para o CPU imediatamente
init
reset halt